
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-8 col-md-6">

      <div *ngIf="loginStatus.status" class="alert alert-{{loginStatus.status}}">
        {{loginStatus.message}} <a routerLink="{{loginStatus.nextUrl}}">{{loginStatus.next}}</a>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="form-horizontal">
        <fieldset>
          <div id="legend">
            <legend class="">{{section_title}}</legend>
          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">email or nickname</label>
            <div class="controls">
              <input type="email" formControlName="email" name="email" class="form-control">
              <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="form-has-error">
                <div *ngIf="loginForm.controls['email'].errors.required">
                  Name is required.
                </div>
                <div *ngIf="loginForm.controls['email'].errors.pattern">
                  Invalid email
                </div>
            </div>
            </div>
          </div>



          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" formControlName="password" name="password" class="form-control">
              <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="form-has-error">
                <div *ngIf="loginForm.controls['password'].errors.required">
                  Name is required.
                </div>
                <div *ngIf="loginForm.controls['password'].errors.pattern">
                  Invalid email
                </div>
            </div>
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
